.modal-theme {
    .modal-content {
        border: 0;
        border-radius: 15px;

        .modal-header,
        .modal-body,
        .modal-footer {
            padding: 24px;
        }

        .modal-header {
            padding-bottom: 0;
            flex-direction: column;
            align-items: flex-start;

            position: relative;

            h6 {
                font-size: 16px;
                font-weight: 600;
                line-height: 20.8px;
                text-align: left;
                color: $primary_color;
                margin-bottom: 10px;
            }


            .btn-close {
                position: absolute;
                right: 30px;
                top: 30px;

            }

        }

        .modal-footer {
            padding-top: 0;
            justify-content: space-between;
        }
    }

    .btn-close {
        background: 0;
        font-size: 20px;
        color: $text_color;
        opacity: 1;
        box-shadow: none;
        border: 0;
        padding: 0;
        height: 31px;
        width: 31px;

        i {
            transition: 0.70s;
            -webkit-text-stroke: 0.5px;
        }

        &:hover {
            background-color: #F4F5F6;
            color: $black_color;

            i {
                transform: rotate(180deg);
            }
        }
    }

    .modal-header {
        border-bottom: 0;

        .modal-title {
            font-size: 18px;
            color: $black_color;
            font-weight: 600;
            display: inline-flex;
            align-items: center;

            i {
                margin-right: 4px;
            }
        }
    }


    .modal-inner-title {
        h3 {
            font-size: 18px;
            color: $primary_color;
            font-weight: 600;
            display: inline-flex;
            align-items: center;

            i {
                margin-right: 4px;
            }
        }
    }

    .modal-footer {
        border-top: 0;

        .btn {
            min-width: 100px;
            padding: 8px 16px;
        }
    }

    .modal-body {
        .btn-close {
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }

    .modal-button-group {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        gap: 8px;

        .btn {
            min-width: 150px;
            height: 38px;
        }
    }

    &.modal-confirmation {
        .modal-dialog {
            @media only screen and (min-width:1200px) {
                width: 400px;
            }
        }

        .modal-body {
            padding: 60px 25px 25px;
        }

        .modal-confirmation-container {
            text-align: center;
        }

        .modal-confirmation-icon {
            img {
                height: 70px;
                width: auto;
            }
        }

        .modal-confirmation-content {
            margin-top: 30px;
            color: #2D3C5C;

            h5 {
                font-size: 20px;
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 0;
            }
        }

        .modal-forms {
            margin-top: 25px;
            text-align: center;

            .form-group {
                .form-label {
                    text-align: left;
                    width: 100%;
                }
            }
        }
    }

    &.modal-approve {
        .modal-confirmation-icon {
            color: $success_color;
            font-size: 70px;
            line-height: 70px;
        }
    }

    &.modal-reject {
        .modal-confirmation-icon {
            color: $danger_color;
            font-size: 70px;
            line-height: 70px;
        }
    }

    &.modal-close-icon {
        .btn-close {
            position: absolute;
            right: -30px;
            top: -30px;
            padding: 0;
            margin: 0;
            color: $white_color;

            &:hover {
                color: $danger_color;
            }
        }
    }
}

.modal-delete {

    .modal-content .modal-header,
    .modal-content .modal-body,
    .modal-content .modal-footer {
        padding: 34px;
    }

    .modal-content .modal-footer {
        padding-top: 0;
    }

    .delete-modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .delete-icon {
            width: 54px;
            height: 54px;
            border-radius: 25px;
            color: $danger_color;
            background-color: #FEF1F2;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
            font-size: 26px;
        }

        .delete-text {
            h6 {
                font-size: 18px;
                font-weight: 600;
                line-height: 23.4px;
                text-align: center;
                margin-bottom: 16px;
                color: $black_color;
            }

            p {
                font-size: 12px;
                font-weight: 400;
                line-height: 22.1px;
                text-align: center;
                margin-bottom: 0px;
                color: $text_color;
            }
        }
    }

    .modal-footer {
        display: flex;

        .btn {
            width: 48%;
        }
    }
}

.modal-conformation {
    .modal-conformation-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        .modal-conformation-icon {
            img {
                width: 70px;
                height: 70px;
                margin: 0 auto;
            }

            margin-bottom: 20px;
        }

        .modal-conformation-content {
            h6 {
                text-align: center;
                font-size: 18px;
                font-weight: 600;
                line-height: 23.4px;
                color: $black_color;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 27.2px;
                text-align: center;
                margin-bottom: 0px;
                color: $text_color;
            }
        }
    }

    .modal-footer {
        .button-group {
            width: 100%;

            .btn {
                width: 100%;
            }
        }
    }
}

.modal-sm {
    max-width: 380px !important;
}

.modal-estimate-update {

    .estimate-update-info-title {
        margin-bottom: 12px;

        h6 {
            font-size: 16px;
            font-weight: 600;
            line-height: 20.8px;
            text-align: left;
            color: $black_color;
            margin-bottom: 0px;
        }
    }

    .estimate-update-success {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 35px;

        .estimate-update-success-icon {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .estimate-update-success-text {
            h6 {
                font-size: 21px;
                font-weight: 600;
                line-height: 27.3px;
                text-align: center;
                color: $black_color;
                margin-bottom: 17px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 27.2px;
                text-align: center;
                color: $text_color;
                margin-bottom: 0px;
            }
        }
    }

    .estimate-update-info-row {
        margin-left: -10px;
        margin-right: -10px;
        display: flex;
        margin-bottom: 20px;

        .estimate-update-info-col {
            padding-left: 10px;
            padding-right: 10px;
            width: 100%;
            max-width: 50%;
        }
    }

    .estimate-update-info-card {
        background-color: $white_color;
        border: 1px solid #E7E8EC;
        padding: 12px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        gap: 10px;

        .estimate-update-info-icon {
            width: 68px;
            height: 68px;
            border-radius: 10px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 24px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .estimate-update-info-text {
            h6 {
                font-size: 12px;
                font-weight: 600;
                line-height: 19.2px;
                text-align: left;
                color: $black_color;
                margin-bottom: 3px;
            }

            a {
                font-size: 12px;
                font-weight: 400;
                line-height: 19.2px;
                text-align: left;
                color: $text_color;
                margin-bottom: 3px;
            }
        }
    }
}

.leads-details {
    .leads-details-card {
        display: flex;
        align-items: center;
        padding: 15px;
        border-radius: 8px;
        background-color: #F4F5F6;
        border: 1px solid $gray_color;
        gap: 0 15px;
        margin-bottom: 20px;

        .leads-details-image {
            width: 210px;
            height: 170px;
            border-radius: 8px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .leads-details-content {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;

            h4 {
                font-size: 18px;
                font-weight: 600;
                line-height: 23.4px;
                text-align: left;
                color: $black_color;
                margin-bottom: 10px;

            }

            a {
                display: flex;
                align-items: center;
                gap: 0 10px;
                font-size: 12px;
                font-weight: 400;
                line-height: 19.2px;
                text-align: left;
                color: $black_color;
                margin-bottom: 8px;

                i {
                    font-size: 17px;
                    color: $primary_color;
                }
            }

            .button-group {
                margin-top: 15px;
            }

        }
    }

    .activity {
        display: flex;
        align-items: flex-start;
        gap: 0 10px;
        position: relative;

        .activity-icon {
            position: relative;
            z-index: 2;
        }

        .activity-content {
            padding-bottom: 25px;

            .activity-card {
                padding: 10px;
                border-radius: 6px;
                border: 1px solid $gray_color;
                background-color: $white_color;
                margin-bottom: 7px;
                padding-right: 40px;
                position: relative;

                h6 {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0.15000000596046448px;
                    text-align: left;
                    color: $black_color;
                    margin-bottom: 5px;
                }

                .activity-user {
                    display: flex;
                    align-items: center;
                    gap: 0 5px;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 23.8px;
                    letter-spacing: 0.15000000596046448px;
                    text-align: left;
                    color: $text_color;

                    img {
                        width: 17px;
                        height: 17px;
                        border-radius: 10px;
                        object-fit: cover;
                    }
                }

                a {
                    display: none;
                    content: "";
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    color: $primary_color;
                    font-size: 20px;
                    line-height: 20px;
                    transition: all 0.5s;

                }

                &:hover {
                    a {
                        display: block;
                    }
                }


            }

            p {
                font-size: 14px;
                font-weight: 400;
                line-height: 21px;
                letter-spacing: 0.15000000596046448px;
                text-align: left;
                margin-bottom: 0px;
                color: $text_color;
            }

        }

        &::before {
            content: "";
            left: 16px;
            top: 0;
            width: 1px;
            height: 100%;
            position: absolute;
            border-left: 1px dashed $secondary_light_color;
        }
    }
}

.upgrade-plan {
    .upgrade-plan-body {
        .upgrade-plan-icon {
            width: 120px;
            height: 120px;
            margin: 0 auto;
            margin-bottom: 30px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .upgrade-plan-text {
            margin-bottom: 50px;

            h2 {
                font-size: 36px;
                font-weight: 600;
                line-height: 46.8px;
                text-align: center;
                color: $black_color;
                margin-bottom: 20px;
            }

            p {
                font-size: 21px;
                font-weight: 400;
                line-height: 35.7px;
                text-align: center;
                margin-bottom: 0px;
                color: $text_color;
            }
        }

        .upgrade-plan-card {
            padding: 30px 40px;
            background-color: $primary_light_color;
            border-radius: 15px;
            display: flex;
            align-items: center;
            gap: 0 50px;

            h6 {
                font-size: 24px;
                font-weight: 600;
                line-height: 31.2px;
                text-align: left;
                color: $black_color;
                margin-bottom: 17px;
            }

            p {
                font-size: 16px;
                font-weight: 400;
                line-height: 27.2px;
                text-align: left;
                color: $black_color;
                margin-bottom: 30px;
            }
        }
    }
}