.text-default {
    color: $text_color !important;
}
.text-white {
    color: $white_color !important;
}
.text-black{
    color: $black_color !important;
}
.text-primary {
    color: $primary_color !important;
}
.text-secondary {
    color: $secondary_color !important;
}

.text-info {
    color: $info_color !important;
}

.text-success {
    color: $success_color !important;
}

.text-warning {
    color: $warning_color !important;
}

.text-danger {
    color: $danger_color !important;
}