$text_color: #777F90;
$white_color: #FFFFFF;
$black_color: #292D32;
$gray_color: #F4F5F6;


$primary_color: #F4614C;
$secondary_color: #344FDE;
$secondary_two_color: #FFD770;
$info_color: #2A85FF;
$success_color: #0F9D58;
$warning_color: #FFA114;
$danger_color: #FF5D5D;


$primary_light_color: #FCE6D2;
$secondary_light_color: #EFF7FF;
$secondary_two_light_color: #FFD770;
$info_light_color: #CDF9FB;
$success_light_color: #F2F7F7;
$warning_light_color: #FFF8DB;
$danger_light_color: #FFEFEF;